services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_USER=${DB__USER}
      - POSTGRES_PASSWORD=${DB__PASSWORD}
      - POSTGRES_DB=${DB__NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend-network
    ports:
      - "6432:5432"
    healthcheck:
      test: ["CMD-SHELL", "psql -U ${DB__USER} -d ${DB__NAME} -c 'SELECT 1' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  redis:
      image: redis:8.2-alpine
      container_name: redis-db
      ports:
          - "6379:6379"
      volumes:
          - redis-data:/data
      networks:
          - backend-network
      deploy:
          resources:
              limits:
                  cpus: '0.5'
                  memory: 512M
              reservations:
                  cpus: '0.2'
                  memory: 256M
      healthcheck:
          test: ["CMD", "redis-cli", "ping"]
          interval: 30s
          timeout: 10s
          retries: 3
          start_period: 30s
      restart: unless-stopped

  # app:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    # container_name: app
    # ports:
    #   - "8000:8000"

#  celery_worker:
#    build:
#      context: ./clear_inventory_cache_task
#    command: uv run celery -A core.celery worker --concurrency 1 --loglevel=INFO
#    depends_on:
#      - redis
#    env_file:
#      - .env
#    networks:
#      - backend-network

volumes:
  postgres-data:
  redis-data:

networks:
    backend-network:
        driver: bridge
