services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_USER=${DB__USER}
      - POSTGRES_PASSWORD=${DB__PASSWORD}
      - POSTGRES_DB=${DB__NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend-network
    ports:
      - "6432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "psql -U ${DB__USER} -d ${DB__NAME} -c 'SELECT 1' || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  redis:
    image: redis:8.2-alpine
    container_name: redis-db
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend-network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.2'
          memory: 256M
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  app:
    container_name: virtual-econ-backend
    build:
      context: .
      dockerfile: Dockerfile
    command: uv gunicorn main:app -w 1 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:8000 --log-level=info
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    env_file:
      - .env.prod
    networks:
      - backend-network

  celery-beat:
    container_name: celery-beat
    build:
      context: .
    command: celery -A celery_app beat --loglevel=INFO
    depends_on:
      - redis
    env_file:
      - .env.prod
    networks:
      - backend-network

  celery-worker:
    container_name: celery-worker
    build:
      context: .
    command: celery -A celery_app worker --concurrency 1 --loglevel=INFO
    depends_on:
      - redis
    env_file:
      - .env.prod
    networks:
      - backend-network

volumes:
  postgres-data:
  redis-data:

networks:
  backend-network:
    driver: bridge
