services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend-network
    ports:
      - "6432:5432"
    restart: unless-stopped

  redis:
      image: redis:8.2-alpine
      container_name: redis
      ports:
          - "6379:6379"
      volumes:
          - redis-data:/data
      networks:
          - backend-network
      deploy:
          resources:
              limits:
                  cpus: '0.5'
                  memory: 512M
              reservations:
                  cpus: '0.2'
                  memory: 256M
      healthcheck:
          test: ["CMD", "redis-cli", "ping"]
          interval: 30s
          timeout: 10s
          retries: 3
      restart: unless-stopped

  # app:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    # container_name: app
    # ports:
    #   - "8000:8000"

volumes:
  postgres-data:
  redis-data:

networks:
    backend-network:
        driver: bridge
